.App {
  text-align: center;
  height: 100%;
  margin-top: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.name {
  margin: 10px 0px 30px 0px;
  font-size: 36pt;
}

.logo {
  width: 20%;
  height: auto;
}

.title {
  width: 80%;
  height: auto;
}

.contact {
  font-size: 30pt;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
}

.navbar {
  border-bottom: 1px solid #5E5E5E;
  padding: 5px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #EBEDEC;
  z-index: 100;
}

.nav-items {
  display: flex;
}

.nav-item {
  color: #5E5E5E;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 12px 14px 10px 14px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 14pt;
}

.nav-item:hover {
  color: white;
  background-color: #4E8975;
}

.header1 {
  font-size: 36pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
}

.services1 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
}

.services2 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
  width: 380px;
}

.contact-form {
  margin: 5px;
}

.contact-input {
  background-color:#EBEDEC;
  width: 100%;
  max-width: 40%;
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid #5E5E5E;
  padding: 5px;
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-message {
  background-color: white;
  width: 100%;
  max-width: 40%;
  margin: 10px;
  resize: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit {
  width: 100%;
  max-width: 40%;
  padding: 10px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  transition: all ease-in-out 200ms;
  margin: 10px;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.contact-info {
  font-size: 24pt;
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px;
}

.subheader1 {
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

.subheader2 {
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
}

.home-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: all ease-in-out 200ms;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.home-button:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.banner {
  background-color: white;
}

.contact-method {
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  max-width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-checkbox {
  transform: scale(1.5);
  margin-left: 10px;
}

.homepage {
  background-image: url('./Background2.png');
  background-size: cover;
  height: 100%;
  padding: 50px 0px;
}

.home-card {
  background-color: rgba(235,237,236,0.8);
  margin: 0px 20%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #202020;
}

.home-info {
  height: 500px;
}

.about-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.learn-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.faq-container {
  margin: 0px 20% 40px 20%;
  transition: all ease-in-out 200ms;
}

.image1 {
  margin: 0px 20px;
  border-radius: 10px;
}

.paragraph1 {
  text-align: left;
  margin-bottom: 50px;
}

.header-image {
  background-image: url("./Services3.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image2 {
  background-image: url("./Background8.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image3 {
  background-image: url("./Background7.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image4 {
  background-image: url("./Background7.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image5 {
  background-image: url("./Background2.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image6 {
  background-image: url("./Background5.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.faq-container:hover {
  transform: scale(1.1);
}

.faq-card {
  background-color: #4E8975;
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-card2 {
  background-color: white;
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-question {
  font-size: 30pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.faq-answer {
  font-size: 18pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #4E8975;
}

.side-navbar {
  height: 100%;
  position: fixed;
  background-color: #EFF1F0;
  z-index: 100;
  padding: 20px;
  border-right: 1px solid #5E5E5E;
  text-align: left;
}

.side-items {
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-item {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 18px 18px 14px 18px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 1vw;
}

.side-item:hover {
  color: white;
  background-color: #4E8975;
}

.topbar {
  border-bottom: 1px solid #5E5E5E;
  align-items: center;
  background-color: #EBEDEC;
  padding: 8px;
	position: fixed;
  width: 100%;
	top: 0;
  z-index: 200;
  text-align: center;
}

.menu-button {
  border: 0px;
  transition: all ease-in-out 200ms;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
  position: fixed;
  top: 15px;
  cursor: pointer;
  background-color: #EBEDEC;
}

.topbar-info {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  position: fixed;
  top: 15px;
  right: 20px;
  text-align: right;
}

.home-container {
  display: flex;
  height: 100%;
  margin-top: -80px;
}

.home-nav {
  width: 50%;
  height: 100%;
  position: fixed;
  padding: 10px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-pic {
  width: 50%;
  background-color: #EFF1F0;
  height: 100%;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  height: 75%;
}

.home-item {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 18px 18px 14px 18px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 2.5vw;
}

.home-item:hover {
  color: white;
  background-color: #4E8975;
}

.home-img {
  border-radius: 20px;
  position: fixed;
}

.home-title {
  display: flex;
  align-items: baseline;
  position: fixed;
  top: 1%;
  z-index: 1000;
  height: 10%;
  padding-right: 1%;
}

.home-words {
  position: fixed;
  top: 12%;
  z-index: 1000;
  height: 10%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}

.title-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
}