.App {
  text-align: center;
  height: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.name {
  margin: 10px 0px 30px 0px;
  font-size: 36pt;
}

.logo {
  width: 20%;
  height: auto;
}

.title {
  width: 80%;
  height: auto;
}

.contact {
  font-size: 30pt;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
}

.navbar {
  border-bottom: 1px solid #5E5E5E;
  padding: 5px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #EBEDEC;
  z-index: 100;
}

.nav-items {
  display: flex;
}

.nav-item {
  color: #5E5E5E;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 12px 14px 10px 14px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 14pt;
}

.nav-item:hover {
  color: white;
  background-color: #4E8975;
}

.header1 {
  font-size: 36pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
}

.services1 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
}

.services2 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
  width: 380px;
}

.contact-form {
  margin: 5px;
}

.contact-input {
  background-color:#EBEDEC;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid #5E5E5E;
  padding: 5px;
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-message {
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  resize: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  transition: all ease-in-out 200ms;
  margin: 10px;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.contact-info {
  font-size: 24pt;
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px;
}

.subheader1 {
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

.subheader2 {
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
}

.home-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: all ease-in-out 200ms;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.home-button:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.banner {
  background-color: white;
}

.contact-method {
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-checkbox {
  transform: scale(1.5);
  margin-left: 10px;
}

.homepage {
  background-image: url('./Background2.png');
  background-size: cover;
  height: 100%;
  padding: 50px 0px;
}

.home-card {
  background-color: rgba(235,237,236,0.8);
  margin: 0px 20%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #202020;
}

.home-info {
  height: 500px;
}

.about-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.learn-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.faq-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.image1 {
  margin: 0px 20px;
  border-radius: 10px;
}

.paragraph1 {
  text-align: left;
  margin-bottom: 50px;
}

.header-image {
  background-image: url("./Services3.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image2 {
  background-image: url("./Background8.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image3 {
  background-image: url("./Background7.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image4 {
  background-image: url("./Background7.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image5 {
  background-image: url("./Background2.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image6 {
  background-image: url("./Background5.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.faq-card {
  background-color: #4E8975;
  color: white;
  width: 1000px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  margin: 10px 20%;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-card2 {
  background-color: white;
  color: white;
  width: 1000px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  margin: 10px 20%;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-card:hover {
  background-color: #306754;
}

.faq-question {
  font-size: 30pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.faq-answer {
  font-size: 18pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #4E8975;
}
