.App {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.information {
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
}

.name {
  margin: 10px 0px 30px 0px;
  font-size: 36pt;
}

.contact {
  font-size: 30pt;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
}

.navbar {
  border-bottom: 1px solid #5E5E5E;
  padding: 5px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
}

.nav-item {
  color: #5E5E5E;
  text-decoration: none;
  margin-left: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  transition: all ease-in-out 200ms;
}

.nav-item:hover {
  color: black;
  text-shadow: 0px 0px 2px rgb(179, 179, 179);
}

.header1 {
  font-size: 36pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
}

.contact-form {
  margin: 5px;
}

.contact-input {
  background-color:#EBEDEC;
  width: 500px;
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid #5E5E5E;
  padding: 5px;
}

.contact-message {
  background-color: white;
  width: 500px;
  margin: 10px;
  resize: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.contact-submit {
  width: 500px;
  padding: 10px;
  background-color: #5E5E5E;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: all ease-in-out 200ms;
  margin: 10px;
  border-radius: 5px;
}

.contact-submit:hover {
  background-color: grey;
}

.contact-info {
  font-size: 24pt;
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px;
}

.subheader1 {
  margin-bottom: 30px;
}

.home-button {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: #5E5E5E;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: all ease-in-out 200ms;
  border-radius: 5px;
}

.home-button:hover {
  background-color: grey;
}