.App {
  text-align: center;
  height: 100%;
  margin-top: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.name {
  margin: 10px 0px 30px 0px;
  font-size: 36pt;
}

.logo {
  width: 20%;
  height: auto;
}

.title {
  width: 80%;
  height: auto;
}

.contact {
  font-size: 30pt;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
}

.navbar {
  border-bottom: 1px solid #5E5E5E;
  padding: 5px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #EBEDEC;
  z-index: 100;
}

.nav-items {
  display: flex;
}

.nav-item {
  color: #5E5E5E;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 12px 14px 10px 14px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 14pt;
}

.nav-item:hover {
  color: white;
  background-color: #4E8975;
}

.header1 {
  font-size: 36pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
}

.services1 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
}

.services2 {
  font-size: 48pt;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 10px;
  font-weight: bold;
  width: 380px;
}

.contact-form {
  margin: 5px;
}

.contact-input {
  background-color:#EBEDEC;
  width: 100%;
  max-width: 40%;
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid #5E5E5E;
  padding: 5px;
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-message {
  background-color: white;
  width: 100%;
  max-width: 40%;
  margin: 10px;
  resize: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit {
  width: 100%;
  max-width: 40%;
  padding: 10px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  transition: all ease-in-out 200ms;
  margin: 10px;
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.contact-submit:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.contact-info {
  font-size: 2vw;
  color: #5E5E5E;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px;
}

.subheader1 {
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

.subheader2 {
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
}

.home-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: #4E8975;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: all ease-in-out 200ms;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.home-button:hover {
  background-color: #306754;
  transform: scale(1.1);
}

.banner {
  background-color: white;
}

.contact-method {
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  max-width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-checkbox {
  transform: scale(1.5);
  margin-left: 10px;
}

.homepage {
  background-image: url('./Background2.png');
  background-size: cover;
  height: 100%;
  padding: 50px 0px;
}

.home-card {
  background-color: rgba(235,237,236,0.8);
  margin: 0px 20%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #202020;
}

.home-info {
  height: 500px;
}

.about-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.learn-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.faq-container {
  margin: 0px 20% 40px 20%;
  transition: all ease-in-out 200ms;
}

.image1 {
  margin: 0px 20px;
  border-radius: 10px;
  width: 40%;
  object-fit: cover;
}

.paragraph1 {
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  line-height: 2vw;
}

.paragraph2 {
  text-align: left;
  margin-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
}

.header-image {
  background-image: url("./Services3.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image2 {
  background-image: url("./Background8.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image3 {
  background-image: url("./Background7.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image4 {
  background-image: url("./Background7.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image5 {
  background-image: url("./Background2.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header-image6 {
  background-image: url("./Background5.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.faq-container:hover {
  transform: scale(1.1);
}

.faq-card {
  background-color: #4E8975;
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-card2 {
  background-color: white;
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  border: 0px;
}

.faq-question {
  font-size: 30pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.faq-answer {
  font-size: 18pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #4E8975;
}

.side-navbar {
  height: 100%;
  position: fixed;
  background-color: #EFF1F0;
  z-index: 100;
  padding: 20px;
  border-right: 1px solid #5E5E5E;
  text-align: left;
  width: 15%;
}

.side-items {
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-item {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 18px 18px 14px 18px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 1vw;
}

.side-item:hover {
  color: white;
  background-color: #4E8975;
}

.topbar {
  border-bottom: 1px solid #5E5E5E;
  align-items: center;
  background-color: #EBEDEC;
  padding: 8px;
	position: fixed;
  width: 100%;
	top: 0;
  z-index: 200;
  text-align: center;
}

.menu-button {
  border: 0px;
  transition: all ease-in-out 200ms;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
  position: fixed;
  top: 22px;
  cursor: pointer;
  background-color: #EBEDEC;
}

.topbar-info {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  position: fixed;
  top: 15px;
  right: 20px;
  text-align: right;
}

.home-container {
  display: flex;
  height: 100%;
  margin-top: -80px;
}

.home-nav {
  width: 50%;
  height: 100%;
  position: fixed;
  padding: 10px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-pic {
  width: 50%;
  background-color: #EFF1F0;
  height: 100%;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  height: 75%;
}

.home-item {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 18px 18px 14px 18px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  font-size: 2.5vw;
}

.home-item:hover {
  color: white;
  background-color: #4E8975;
}

.home-img {
  border-radius: 20px;
  position: fixed;
  height: 65%;
}

.home-title {
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 1%;
  z-index: 1000;
  height: 13%;
  padding-right: 1%;
}

.home-words {
  position: fixed;
  top: 14%;
  z-index: 1000;
  height: 10%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
  display: flex;
}

.title-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.top-logo {
  height: 80px;
}

.top-title {
  height: 70px;
}

.view-mob {
  font-size: 0pt;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: grey;
}

.contact-reply {
  font-size: 20pt;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  max-width: 40%;
  margin: auto;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.footer {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1vw;
  border-top: 1px solid lightgrey;
}

.contact-me{
  padding: 30px 5px;
  font-size: 2vw;
  max-width: 100%;
  float: left;
  margin: 0;
  text-decoration: none;
}

.contact-me:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1000px) {
  .home-img {
    max-width: 45%;
    height: auto;
    max-height: 65%;
  }
  .contact-me {
    max-width: 100%;
  }
  .footer {
    font-size: 2vw;
  }
  .topbar-info {
    font-size: 10pt;
  }
  .about-container{
    padding: 0px 5%;
  }
  .services-container{
    padding: 0px 5%;
  }
  .side-navbar {
    width: 50%;
  }
  .side-item {
    font-size: 2vw;
  }
  .paragraph1{
    font-size: 2vw;
    line-height: 3vw;
  }
  .paragraph2{
    font-size: 2.5vw;
  }
  .contact-input{
    max-width: 80%;
  }
  .contact-message{
    max-width: 80%;
  }
  .contact-submit{
    max-width: 80%;
  }
  .contact-reply{
    max-width: 80%;
    font-size: 20pt;
  }
  .contact-method{
    max-width: 80%;
    font-size: 20pt;
    flex-direction: column;
    align-items: baseline;
    height: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .home-nav {
    width: 100%;
    padding: 0;
    padding-top: 10%;
    background-image: url("./Background7.jpg");
    background-size: cover;
  }
  .contact-me {
    max-width: 100%;
    font-size: 4vw;
  }
  .footer {
    font-size: 3vw;
  }
  .home-pic {
    width: 0%;
  }
  .home-img {
    height: 0;
  }
  .home-item {
    font-size: 5vw;
  }
  .home-items {
    height: 60%
  }
  .topbar-info {
    font-size: 0;
  }
  .view-mob{
    font-size: 12pt;
  }
  .side-navbar {
    width: 100%;
    padding: 0;
    padding-top: 10%;
  }
  .side-item {
    font-size: 3.5vw;
  }
  .about-container{
    flex-direction: column;
    padding: 0px 5%;
  }
  .services-container{
    flex-direction: column;
    padding: 0px 5%;
  }
  .paragraph1{
    font-size: 3.5vw;
    line-height: 5vw;
  }
  .paragraph2{
    font-size: 4.5vw;
  }
  .image1{
    width: 100%;
    margin: 40px 0;
    margin-top: -30px;
  }
  .top-logo{
    height: 50px;
  }
  .top-title{
    height: 40px;
  }
  .App{
    margin-top: 50px;
  }
  .menu-button{
    top: 16px;
  }
  .contact-info{
    font-size: 5vw;
  }
  .home-title{
    height: 10%;
    top: 3%;
  }
  .home-logo-1{
    width: 0;
  }
  .home-words{
    flex-direction: column;
  }
  .dis-mob{
    width: 0;
  }
  .serv-img{
    margin-top: 15px;
    margin-bottom: 0px;
  }
}